<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.complaint.mapper.ComplaintRecordsMapper">
    
    <resultMap type="ComplaintRecords" id="ComplaintRecordsResult">
        <result property="complaintId"    column="complaint_id"    />
        <result property="complaintContent"    column="complaint_content"    />
        <result property="handlingStatus"    column="handling_status"    />
        <result property="handlingMsg"    column="handling_msg"    />
        <result property="entityType"    column="entity_type"    />
        <result property="entityId"    column="entity_id"    />
        <result property="username"    column="username"    />
        <result property="phone"    column="phone"    />
    </resultMap>

    <sql id="selectComplaintRecordsVo">
        select complaint_id, complaint_content, handling_status, handling_msg, entity_type, entity_id, username, phone from complaint_records
    </sql>

    <select id="selectComplaintRecordsList" parameterType="ComplaintRecords" resultMap="ComplaintRecordsResult">
        <include refid="selectComplaintRecordsVo"/>
        <where>  
            <if test="complaintContent != null  and complaintContent != ''"> and complaint_content like concat('%', #{complaintContent}, '%')</if>
            <if test="handlingStatus != null  and handlingStatus != ''"> and handling_status = #{handlingStatus}</if>
            <if test="handlingMsg != null  and handlingMsg != ''"> and handling_msg like concat('%', #{handlingMsg}, '%')</if>
            <if test="entityType != null "> and entity_type = #{entityType}</if>
            <if test="entityId != null "> and entity_id = #{entityId}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
        </where>
    </select>
    
    <select id="selectComplaintRecordsByComplaintId" parameterType="Long" resultMap="ComplaintRecordsResult">
        <include refid="selectComplaintRecordsVo"/>
        where complaint_id = #{complaintId}
    </select>
        
    <insert id="insertComplaintRecords" parameterType="ComplaintRecords" useGeneratedKeys="true" keyProperty="complaintId">
        insert into complaint_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="complaintContent != null">complaint_content,</if>
            <if test="handlingStatus != null">handling_status,</if>
            <if test="handlingMsg != null">handling_msg,</if>
            <if test="entityType != null">entity_type,</if>
            <if test="entityId != null">entity_id,</if>
            <if test="username != null">username,</if>
            <if test="phone != null">phone,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="complaintContent != null">#{complaintContent},</if>
            <if test="handlingStatus != null">#{handlingStatus},</if>
            <if test="handlingMsg != null">#{handlingMsg},</if>
            <if test="entityType != null">#{entityType},</if>
            <if test="entityId != null">#{entityId},</if>
            <if test="username != null">#{username},</if>
            <if test="phone != null">#{phone},</if>
         </trim>
    </insert>

    <update id="updateComplaintRecords" parameterType="ComplaintRecords">
        update complaint_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="complaintContent != null">complaint_content = #{complaintContent},</if>
            <if test="handlingStatus != null">handling_status = #{handlingStatus},</if>
            <if test="handlingMsg != null">handling_msg = #{handlingMsg},</if>
            <if test="entityType != null">entity_type = #{entityType},</if>
            <if test="entityId != null">entity_id = #{entityId},</if>
            <if test="username != null">username = #{username},</if>
            <if test="phone != null">phone = #{phone},</if>
        </trim>
        where complaint_id = #{complaintId}
    </update>

    <delete id="deleteComplaintRecordsByComplaintId" parameterType="Long">
        delete from complaint_records where complaint_id = #{complaintId}
    </delete>

    <delete id="deleteComplaintRecordsByComplaintIds" parameterType="String">
        delete from complaint_records where complaint_id in 
        <foreach item="complaintId" collection="array" open="(" separator="," close=")">
            #{complaintId}
        </foreach>
    </delete>
</mapper>